.chat-icon {
	position: fixed;
	bottom: 2.5%;
	right: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 6.4rem;
	width: 6.4rem;
	border-radius: 50%;
	background: $base-color;
	cursor: pointer;
	transition: all 0.3s;
	z-index: 9999999;

	&:hover {
		background: $text-primary;
		color: $base-color;

		svg path {
			fill: $base-color;
		}
	}

	&:active {
		background: #435fa6;
		color: $text-primary;
		svg path {
			fill: $text-primary;
		}
	}
}
